{% extends 'base.html' %}
{% block content%}

<form name='AdvSearchForm' action="advSearch" method="post">
        {% csrf_token %}
<table >
    <tr >
        <td>Keyword</td>
         <td ><input required type="text" size="48" id="Keyword" name="Keyword" maxlength="100"><br>
<!--             Search by <i>Hostname / Results / State / Username </i>-->
         </td>
    </tr>
    <tr >
        <td>Date range(UTC)</td>
        <td>
            <input size="21" type="text" id="DtFrom" placeholder="From">
            <input size="22" type="text" id="DtTo" placeholder="To">
        </td>
    </tr>
<tr>
<!--    <td colspan="2"><input  name='button' type="submit" value=Search onclick="validateAndSend()"></td>-->
    <td colspan="2"> <input  type="submit" value=Search onclick="validateAndSend()"> </td>
</tr>
</table>
</form>


<script>
function validateAndSend() {
    if (AdvSearchForm.DtFrom.value === ''  &&   AdvSearchForm.DtTo.value) {
        alert('To date required .');
        return false;
    }
    if (AdvSearchForm.DtFrom.value   &&   AdvSearchForm.DtTo.value === '') {
        alert('From date required.');
        return false;
    }
}
</script>

{% if search_results%}
        <br>
        <div >
            <div id="second">The page shows max <i>500</i> rows.</div>
            <div id="first">Found <b><i>{{results_count}}</i></b> results </div>
        </div>


 <table class="roundedCorners">
        <thead>
          <tr>
                    <th>hostname</th>
                    <th>State</th>
                    <th>DateTime</th>
                    <th>Pre_kernel</th>
                    <th>Upgraded_kernel</th>
                    <th>Cves_status</th>
                    <th>Kernel_status</th>
                    <th>Pptrack_status</th>
                    <th>Non_uek_status</th>
                    <th>Reboot_status</th>
          </tr>
        </thead>
     {% for query_result in search_results %}
		<tbody >
		        <tr>
                        <td>{{query_result.host_name}}</td>
                        <td>{{query_result.State}}</td>
                        <td>{{query_result.DateTime|date:"d-m-Y G:i:s"}}</td>
                        <td>{{query_result.pre_kernel}}</td>
                        <td>{{query_result.upgraded_kernel}}</td>
                        <td>{{query_result.cves_status}}</td>
                        <td>{{query_result.kernel_status}}</td>
                        <td>{{query_result.uptrack_status}}</td>
                        <td>{{query_result.non_uek_status}}</td>
                        <td>{{query_result.reboot_status}}</td>
                </tr>
		 </tbody>
     {%endfor%}
         </table>
{%endif %}
<!--##############BULK SEARCH#################################-->
<br>
<h4>Bulk Search:</h4>
<div>
    <form  name="dataFrom" enctype = "multipart/form-data"   action="advSearch" method="POST">
    {% csrf_token %}
        <table class="roundedCorners">
            <tr>
                <td>HostNames</td>
                <td>
                            <textarea  name="blksearchhosts" rows="2" cols="50" maxlength="50000" placeholder="FQDN(s)/ShotNames"></textarea>
                            <br>
                 </td>
            </tr>

            <tr>
                <td>FileUpload<br>txt / csv formats</td>
                <td>
                        <input   type="file" name="blksearchfile">
                        <br>
                </td>
            <tr >
                <td>
                    <input  type="button" value=Search >
                </td>
            </tr>
        </table>
    </form>
</div>
<!--##############BULK SEARCH#################################-->
<!-- <table class="roundedCorners">-->
<!--        <thead>-->
<!--          <tr>-->
<!--            <th>JobID</th>-->
<!--              <td>Submitted by</td>-->
<!--			<th>DateTime(UTC)</th>-->
<!--            <th>HOSTNAME</th>-->
<!--              <th>Results</th>-->
<!--              <th>State</th>-->
<!--          </tr>-->
<!--        </thead>-->
<!--     {% for query_result in search_results %}-->
<!--		<tbody >-->
<!--		<tr>-->
<!--             <td><a href=/reports/{{ query_result.Pid }} target="_blank" > {{ query_result.Pid }}</a></td>-->
<!--            <td>{{ query_result.SubmittedBy }}</td>-->
<!--			<td>{{ query_result.DateTime|date:"d-m-Y G:i:s"}}</td>-->
<!--            <td>{{ query_result.Hostname}}</td>-->
<!--            <td>{{ query_result.Result}}</td>-->
<!--            <td>{{ query_result.State}}</td>-->
<!--			{%endfor%}-->
<!--        </tr>-->
<!--		 </tbody>-->
<!--         </table>-->

    <script>
       $('#DtFrom').datetimepicker();
       $('#DtTo').datetimepicker();
    </script>
{%endblock%}