{% extends 'base.html' %}
{% block content%}
<br>
<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!--
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"> -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

    <script>
        function getSelectedValue() {
            document.getElementById("selectedresults").value = document.getElementById("dropdown1").value;
        }
    </script>



</head>
<body>

<style>
table {
   border-collapse: collapse;
  width: 70%;
  border-spacing: 50px 0;
}

td {
  padding: 10px 0;
}
</style>
            <form method="post" name="dataFrom enctype="multipart/form-data">
                {% csrf_token %}

<table align="left" >
  <tr>
        <td>HostNames</td>
        <td>
<!--                <form  method='POST'>-->
<!--                    {% csrf_token %}-->

                    <!-- {{ form.as_p }} -->
                    <textarea  name="hostname" rows="2" cols="50" maxlength="5000" placeholder="FQDN(s)"></textarea>
<!--                    <input type="hidden" name="form_type" value="formOne">-->
                    <br>
<!--                    <input type='submit' value='Fixit'/>-->
<!--                </form>-->
         </td>

  </tr>
 <tr>
       <!-- <td>Script</td> -->
        <td><!--<textarea   name="script" rows="2" cols="50" maxlength="5000" placeholder="Comand you want to execute..."></textarea> -->
            <select name = 'dropdown1' id="dropdown1" onchange="getSelectedValue();">
                <option value='' selected disabled>Select script </option>
                {% for scriptname,script_value in scriptnames.items%}
                        <option value="{{ script_value }}" >{{ scriptname }}</option>
                {% endfor %}
                <option value='' >Adhoc </option>
            </select><b style="color: red">*</b>
        </td>
        <td>
            <textarea   required id="selectedresults" name="script" rows="2" cols="50" maxlength="5000" placeholder="Command to be executed"></textarea>
        </td>
    </tr>
  <tr>
        <td>FileUpload</td>
        <td>

                <input   type="file" name="JC_hosts_File">
<!--                <input type="hidden" name="form_type" value="formTwo">-->
                <br>

<!--            </form>-->
        </td>
    <tr>
<!--    <td> <button type="submit" onclick="validateAndSend()">Upload</button></td>-->
    <td><input  type="button" value=Submit onclick="validateAndSend()"></td>
    <td></td>
</tr>
  </tr>
</table>
<br>

  <script>
function validateAndSend() {
    console.log(dataFrom)
    if (dataFrom.script.value == ''){
        alert('Script field is mandatory.');
         return false;
    }
    if (dataFrom.hostname.value == '' && dataFrom.JC_hosts_File.value == '') {
        alert('You have to enter either HostName/FileUpload.');
        return false;
    }
    else {
        dataFrom.submit();
    }
    }
</script>
<br \>

<div class="container mt-3">
    {% if query_results %}

	<br>
    <h5>Working on below hosts <b> {{hosts_count}} </b> hosts:</h5>
    {%if JobId %}
        <h5> Click <a href=/reports/{{JobId}} target="_blank" > JobID:{{JobId}}</a>  for progress.</h5>
    {%else%}
	    <h5> Click <a href=/reports target="_blank" > here</a>  for progress.</h5>
    {%endif%}
    <table class="table table-bordered">
        <thead>
          <tr>
            <th>JobID</th>
			<th>DateTime(UTC)</th>
            <th>HOSTNAME</th>
          </tr>
        </thead>
 {% for query_result in query_results %}
		<tbody id="myTable">
		<tr>
            <td>{{ query_result.Pid}}</td>
			<td>{{ query_result.DateTime|date:"d-m-Y G:i:s"}}</td>
            <td>{{ query_result.Hostname}}</td>
			{%endfor%}
          </tr>
		   </tbody>
    {%endif %}
      </table>

 </div>

<script>
$(document).ready(function(){
  $("#myInput").on("keyup", function() {
    var value = $(this).val().toLowerCase();
    $("#myTable tr").filter(function() {
      $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
    });
  });
});
</script>



</body>
</html>
{%endblock %}